name: Quality Assurance

on: [push, pull_request]

jobs:
  quality-assurance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          extensions: mbstring, intl
          ini-values: post_max_size=256M, short_open_tag=On
          coverage: xdebug
          tools: php-cs-fixer, psalm, phpstan, infection, cs2pr

      - name: Get composer cache directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Run Unit Tests
        run: php vendor/bin/phpunit --testsuite unit --coverage-text

      - name: Run Integration Tests
        run: php vendor/bin/phpunit --testsuite integration --coverage-text

      - name: Run Infection
        run: infection --no-progress --show-mutations --only-covered

      - name: Run PHP CS Fixer
        run: php-cs-fixer fix --dry-run --diff --allow-risky=yes --using-cache=no --config=.php_cs.dist --format=checkstyle | cs2pr

      - name: Run PHPStan
        run: phpstan analyse -c phpstan.neon

      - name: Run Psalm
        run: psalm --output-format=github
